name: CI
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: pip install .[dev]

      - name: Lint
        run: pre-commit run --all-files

  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: Run Unit Tests
        run: |
          pytest --cov=epicsdb2bob --cov-report=xml:coverage.xml

      - name: Upload Coverage To Codecov
        uses: codecov/codecov-action@v5
        with:
          name: Coverage
          files: coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
